@import 'nhsuk-frontend/packages/nhsuk-frontend/assets/nhsuk.css';

:root {
  --nhsuk-font: Frutiger, 'Frutiger W01', Arial, sans-serif;
}

body {
  font-family: var(--nhsuk-font);
}

main {
  min-height: 70vh;
}

.nhsuk-width-container {
  padding: 0 16px;
}

a {
  color: #005eb8;
}
